@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../wwwroot/css/site.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
        <title>ExDrive</title>
    </head>


<body>
<h1>@ViewData["Title"]</h1>
<p>Конфіденційність користувачів нашого веб-сайту має велике значення для нас, і ми докладаємо всіх зусиль для забезпечення її захисту. Дані правила пояснюють, як ми використовуємо вашу персональну інформацію.
Погоджуючись із використанням файлів-cookie при першому відвіданні нашого веб-сайту, відповідно до положень даних Правил, ви надаєте нам дозвіл на використання файлів-cookie при кожному вашому наступному візиті.</p>

<p>Збору, зберіганню та використанню підлягають наступні типи персональних даних:</p>
<p>1.Інформація про ваш комп’ютер, включаючи вашу IP-адресу, географічне розташування, тип і версію браузера та операційну систему;</p>
<p>2.Інформація про адресу вашої електронної пошти, яку ви використали для реєстрації на нашому веб-сайті;</p>
<p>3.Інформація, яку ви ввели під час створення профілю на нашому веб-сайті – наприклад, ваше ім’я, зображення у вашому профілі тощо;</p>
<p>4.Інформація, яка генерується при використанні нашого веб-сайту, включаючи інформацію про час, частоту та умови його використання;</p>
<p>5.Інформація, яку ви розмістили на нашому сайті з метою публікації її в Інтернеті, включаючи ваше ім’я користувача, зображення профілю та зміст вашої публікації;</p>
<p>6.Інформація, що міститься в будь-яких повідомленнях, які ви надсилали нам електронною поштою або через наш веб-сайт, включаючи зміст повідомлення та мета дані;</p>

<p>Перед тим, як розкрити для нас персональну інформацію третьої особи, ви маєте отримати згоду цієї особи як на розкриття, так і на обробку цієї інформації у відповідності до даних правил.</p>

<p>Персональна інформація, яку ви передані нам через наш веб-сайт, буде використовуватися задля цілей, зазначених в цих правилах або на відповідних сторінках веб-сайту. Ми можемо використовувати вашу персональну інформацію в наступних цілях:</p>
<p>1.адміністрування нашого веб-сайту та бізнесу;</p>
<p>2.надсилання вам повідомлень, рахунків та нагадувань про сплату, та отримання платежів від вас;</p>
<p>3.надання вам можливості користуватися сервісами, доступними на нашому веб-сайті;</p>
<p>4.обробка запитів та скарг, зроблених вами або на вас, і які стосуються нашого веб-сайту;</p>
<p>5.з метою забезпечення безпеки нашого сайту та попередження шахрайства;</p>
<p>6.з метою перевірки відповідності умовам та правилам, які регламентують використання нашого веб-сайту (включаючи моніторинг приватних повідомлень, надісланих через сервіс приватних повідомлень нашого веб-сайту);</p>
<p>7.тощо

<p>Ваші налаштування конфіденційності можуть використовуватись для обмеження публікації ваших персональних даних на нашому веб-сайті, і можуть регулюватися за допомогою засобів управління конфіденційністю на веб-сайті.</p>
<p>Без вашої чітко вираженої згоди ми не будемо передавати вашу персональну інформацію жодній сторонній компанії для прямого маркетингового використання цією, або будь-якою іншою сторонньою компанією.</p>

<p>Ми лишаємо за собою право розкрити вашу персональну інформацію для будь-якого з наших працівників, керівників, страхувальників, професійних радників, агентів, постачальників або субпідрядників, в об’ємі та цілях, визначених в цих правилах.</p>

<p>Ми за собою право розкрити вашу персональну інформацію для будь-якого члена нашої групи компаній (сюди входять наші дочірні компанії, наша кінцева холдингова компанія та всі її дочірні компанії) в об’ємі та цілях, визначених в цих правилах.</p>

<p>Ми лишаємо за собою право розкрити вашу персональну інформацію:</p>

<p>в тих випадках, в яких цього від нас вимагає закон;</p>
<p>у зв’язку з будь-яким поточними або майбутніми судовими процесами;</p>
<p>з метою встановлення, реалізації або захисту наших законних прав (включаючи надання інформації іншим сторонам задля запобігання шахрайству або зниження кредитних ризиків);</p>
<p>покупцеві (або потенційному покупцеві) будь-якого бізнесу або активів, які ми продаємо (або збираємося продати);</p>
<p>будь-якій особі, яка, як ми обґрунтовано вважаємо, може подати запит до суду або іншого уповноваженого органу про розкриття цих персональних даних і, на нашу обґрунтовану думку, цей суд або уповноважений орган видасть розпорядження на розкриття цих персональних даних.</p>
<p>Ми не будемо розкривати вашу персональну інформацію третім особам, за виключенням випадків, зазначених в цих правилах.</p>

<p>Ми лишаємо за собою право періодично вносити зміни та поправки в ці правила, та публікувати їх нову редакцію на нашому сайті. Ви повинні періодично перевіряти цю веб-сторінку, щоб пересвідчитись, що розумієте зміст змін, внесених до цих правил. Ми також можемо проінформувати вас про внесення змін до цих правил шляхом надсилання електронної пошти або через систему передачі приватних повідомлень нашого сайту.</p>


</body>
</html>




